.comparator {
	text-transform: capitalize;
	font-weight: 100;
	font-size: 0.8em;
}

.top-dashboard {
	margin-top: 20px;
}

.afp-name {
	color: #5e72e4;
	font-weight: bolder;
	margin-right: 10px;
}

.article-text {
	text-align: justify;
	max-width: 100%;
	font-size: 1.1em;
	margin-top: 1.5em;
	margin-bottom: 1.5em;
}

.other-newspaper-title {
	font-size: 1.5rem;
	font-weight: 600;
	display: block;
	margin-bottom: 1rem;
  margin-top: 3rem;
}

.footer-sidebar {
	text-align: center;
	padding: .5rem;
	background-color: #0c1d3a;
	font-size: 0.8em;
	width: calc(100% + 2rem);
	margin-left: -1rem;
	position: absolute;
	left: 0;
	bottom: 0;
}

.search {
	background-color: #25385a;
	border: 1px solid #162b4d;
	height: 2rem;
}

.hr-sidebar {
	border-color: #25385a;
	margin-top: 1rem;
	margin-bottom: 1rem;
}

mark {
	background-color: #ffc10759;
	padding: 1px;
	border-radius: 3px;
}

.spacer {
	margin-left: 10px;
	margin-right: 10px;
}

.pourcentage-similarity {
	font-size: 0.5em;
	padding: .3em;
	border-radius: 4px;
	background-color: #ffe79d;
	color: #FF9800;
	margin-right: 1em;
	margin-bottom: 100px;
	position: relative;
	top: -.3em;
}

.main-footer {
	height: 50px;
  width: 100%;
}

.add-data-container {
	width: calc(100% - 2rem);
	background-color: #25385a;
	border-radius: 5px;
	position: absolute;
	bottom: 3.2em;
	color: #525f7f;
	text-align: center;
	padding: .5em;
	transition: .2s;
}

.add-data-container:hover {
	color: white;
	background-color: #374b6f;
}

.add-data-container:active {
	color: white;
	background-color: #374b6f;
}

.modify-icon {
	margin-left: auto;
	font-size: 1.5rem;
	padding: 0.5rem;
	margin-top: 1rem;
	height: fit-content;
	border-radius: 5px;
	background-color: #f5f5f5;
	color: #31315d;
	cursor: pointer;
}

.modify-icon:hover {
	background-color: #f1eeee;
}

.modify-icon:active {
	background-color: #f1eeee;
}

.warning-writing {
	width: 100%;
	padding: 1em;
	border-radius: .2em;
	background-color: #ffc1077d;
	margin-bottom: 2em;
}

h5 {
	font-size: 1.25rem;
	font-weight: 600;
}

.download-button {
	margin-left: auto;
}